onlinefrankierung/src/wsimport/resources/privatkundenversand-api-2.0/2.0/privatkundenversand-api-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="popsp" targetNamespace="https://www.dhl.de/popweb/gw/ws/schema/1.0/popsp"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:popws="https://www.dhl.de/popweb/gw/ws/schema/1.0/popws"
 xmlns:popws_2_0="https://www.dhl.de/popweb/gw/ws/schema/2.0/popws"
 xmlns:popsp="https://www.dhl.de/popweb/gw/ws/schema/1.0/popsp"
 xmlns:poppdb="https://www.dhl.de/popweb/gw/ws/schema/2.0/poppdb">

 <wsdl:import namespace="https://www.dhl.de/popweb/gw/ws/schema/1.0/popws" location="../popws/1.0/popws-1.0.xsd" />
 <wsdl:import namespace="https://www.dhl.de/popweb/gw/ws/schema/2.0/popsc" location="../popsc/2.0/popsc-2.0.xsd" />
 <wsdl:import namespace="https://www.dhl.de/popweb/gw/ws/schema/2.0/popws" location="../popws/2.0/popws-2.0.xsd" />
 <wsdl:import namespace="https://www.dhl.de/popweb/gw/ws/schema/2.0/poppdb" location="../poppdb/2.0/poppdb-2.0.xsd" />

 <wsdl:message name="ShoppingCartValidateRequestMsg">
  <wsdl:part name="parameters" element="popws:ShoppingCartValidateRequest"></wsdl:part>
 </wsdl:message>
 <wsdl:message name="ShoppingCartValidateResponseMsg">
  <wsdl:part name="parameters" element="popws:ShoppingCartValidateResponse"></wsdl:part>
 </wsdl:message>

  <wsdl:message name="ShoppingCartCheckoutViaPaymentRequestMsg">
  <wsdl:part name="parameters" element="popws:ShoppingCartCheckoutViaPaymentRequest"></wsdl:part>
 </wsdl:message>
 <wsdl:message name="ShoppingCartCheckoutViaPaymentResponseMsg">
  <wsdl:part name="parameters" element="popws:ShoppingCartCheckoutViaPaymentResponse"></wsdl:part>
 </wsdl:message>



 <wsdl:message name="LoadBuyedShoppingCartRequestMsg">
  <wsdl:part name="parameters" element="popws:LoadBuyedShoppingCartRequest"></wsdl:part>
 </wsdl:message>
 <wsdl:message name="LoadBuyedShoppingCartResponseMsg">
  <wsdl:part name="parameters" element="popws:LoadBuyedShoppingCartResponse"></wsdl:part>
 </wsdl:message>

 
<wsdl:message name="ProductInfoRequestMsg">
  <wsdl:part name="parameters" element="poppdb:ProductInfoRequest"></wsdl:part>
 </wsdl:message>
 <wsdl:message name="ProductInfoResponseMsg">
  <wsdl:part name="parameters" element="poppdb:ProductInfoResponse"></wsdl:part>
 </wsdl:message>


<wsdl:message name="ShoppingCartOpenRequestMsg">
  <wsdl:part name="parameters" element="popws_2_0:ShoppingCartOpenRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="ShoppingCartOpenResponseMsg">
  <wsdl:part name="parameters" element="popws_2_0:ShoppingCartOpenResponse"></wsdl:part>
</wsdl:message>


 <wsdl:portType name="PopPartnerType">
 
 <wsdl:operation name="ShoppingCartValidate">
   <wsdl:input message="popsp:ShoppingCartValidateRequestMsg"></wsdl:input>
   <wsdl:output message="popsp:ShoppingCartValidateResponseMsg"></wsdl:output>
  </wsdl:operation>
 
  <wsdl:operation name="ShoppingCartCheckoutViaPayment">
   <wsdl:input message="popsp:ShoppingCartCheckoutViaPaymentRequestMsg"></wsdl:input>
   <wsdl:output message="popsp:ShoppingCartCheckoutViaPaymentResponseMsg"></wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="LoadBuyedShoppingCart">
   <wsdl:input message="popsp:LoadBuyedShoppingCartRequestMsg"></wsdl:input>
   <wsdl:output message="popsp:LoadBuyedShoppingCartResponseMsg"></wsdl:output>
  </wsdl:operation>


 <wsdl:operation name="ProductInfo">
   <wsdl:input message="popsp:ProductInfoRequestMsg"></wsdl:input>
   <wsdl:output message="popsp:ProductInfoResponseMsg"></wsdl:output>
  </wsdl:operation>
 <wsdl:operation name="ShoppingCartOpen">
   <wsdl:input message="popsp:ShoppingCartOpenRequestMsg"></wsdl:input>
   <wsdl:output message="popsp:ShoppingCartOpenResponseMsg"></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>



 <wsdl:binding name="PopPartnerBinding" type="popsp:PopPartnerType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  <!-- 
   <wsdl:operation name="QueryCountryBaseProducts">
   <soap:operation soapAction="" style="document" />
   <wsdl:input>
   <soap:body use="literal" />
   </wsdl:input>
   <wsdl:output>
   <soap:body use="literal" />
   </wsdl:output>
   </wsdl:operation>
  -->
   
  <wsdl:operation name="ShoppingCartValidate">
   <soap:operation soapAction="" style="document" />
   <wsdl:input>
    <soap:body use="literal" />
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" />
   </wsdl:output>
  </wsdl:operation>
 
  <wsdl:operation name="ShoppingCartCheckoutViaPayment">
   <soap:operation soapAction="" style="document" />
   <wsdl:input>
    <soap:body use="literal" />
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" />
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="LoadBuyedShoppingCart">
   <soap:operation soapAction="" style="document" />
   <wsdl:input>
    <soap:body use="literal" />
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" />
   </wsdl:output>
  </wsdl:operation>
 
  <wsdl:operation name="ProductInfo">
   <soap:operation soapAction="" style="document" />
   <wsdl:input>
    <soap:body use="literal" />
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" />
   </wsdl:output>
  </wsdl:operation>
    <wsdl:operation name="ShoppingCartOpen">
   <soap:operation soapAction="" style="document" />
   <wsdl:input>
    <soap:body use="literal" />
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" />
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>

 <wsdl:service name="PopPartnerService">
  <wsdl:port name="PopPartnerPort" binding="popsp:PopPartnerBinding">
   <soap:address location="https://sandbox.onlinefrankierung.de:8443/popweb/gw/ws/ExternSoapConnector" />
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>