onlinefrankierung/src/wsimport/resources/privatkundenversand-api-2.0/popws/2.0/popws-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ws="https://www.dhl.de/popweb/gw/ws/schema/1.0/popws"
        xmlns:ws_2_0="https://www.dhl.de/popweb/gw/ws/schema/2.0/popws"
        xmlns:sc="https://www.dhl.de/popweb/gw/ws/schema/1.0/popsc" xmlns:ps="https://www.dhl.de/popweb/gw/ws/schema/1.0/popps"
        xmlns:base="https://www.dhl.de/popweb/gw/ws/schema/1.0/popbase"
        targetNamespace="https://www.dhl.de/popweb/gw/ws/schema/2.0/popws"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <import namespace="https://www.dhl.de/popweb/gw/ws/schema/1.0/popsc"
            schemaLocation="../../popsc/1.0/popsc-1.0.xsd" />
    <import namespace="https://www.dhl.de/popweb/gw/ws/schema/1.0/popws"
            schemaLocation="../../popws/1.0/popws-1.0.xsd" />
    <import namespace="https://www.dhl.de/popweb/gw/ws/schema/1.0/popps"
            schemaLocation="../../popps/1.0/popps-1.0.xsd" />
    <import namespace="https://www.dhl.de/popweb/gw/ws/schema/1.0/popbase"
            schemaLocation="../../popbase/1.0/popbase-1.0.xsd" />



    <element name="ShoppingCartOpenRequest" type="ws_2_0:ShoppingCartOpenRequestType" />
    <element name="ShoppingCartOpenResponse" type="ws_2_0:ShoppingCartOpenResponseType" />

    <complexType name="ShoppingCartOpenRequestType">
        <annotation>
            <documentation>
                Marketplace Toolset Eingangs-Schnittstelle
                Siehe auch:
                <link>ShoppingCartOpenResponseType</link>
                .
            </documentation>
        </annotation>
        <complexContent>
            <extension base="ws:WsRequestType">
                <sequence>
                    <element name="ShoppingCart" type="sc:ShoppingCartBaseType">
                        <annotation>
                            <documentation>Der zu validierende Warenkorb.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="acceptAgb" type="boolean" use="optional"
                           default="false">
                    <annotation>
                        <documentation>
                            Wenn der Endkunde die AGB von POP bereits akzeptiert hat.

                            Dies
                            muss auf
                            <code>true</code>
                            gesetzt sein, möchte man ohne Anzeige der POP-Warenkorbseite
                            einen Warenkorb über einen Webservice kaufen.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="notifyUrl" type="string">
                    <annotation>
                        <documentation>
                            URL unter der nach dem Kauf die Notification
                            gesendet wird.
                            Dem URL
                        </documentation>
                    </annotation>
                </attribute>

                <attribute name="sendUserEmail" type="boolean" use="optional"
                           default="false">
                    <annotation>
                        <documentation>
                            Wenn auf
                            <code>true</code>
                            gesetzt, wird eine Kaufbestätigung an den Kunden gesendet.
                        </documentation>
                    </annotation>
                </attribute>

                <attribute name="sendMaptosRSET" type="boolean" default="false">
                    <annotation>
                        <documentation>
                            Wenn auf
                            <code>true</code>
                            gesetzt, wird an die Marktplatz hinterlegte URL ein Maptos-PSET
                            gesendet.
                        </documentation>
                    </annotation>
                </attribute>


                <attribute name="workflowShowPage" use="optional" default="ShoppingCart">
                    <annotation>
                        <documentation>
                            Optional.
                            Seite, die angezeigt werden soll.
                            Die
                            Anwendung unterstützt folgende Zielseiten:
                            ShoppingCart
                            ProductOrder
                            VoucherOrder
                            EbayIntro
                            CsvImport
                            PrintPrecheck
                            CollectionOrder
                            CollectionOnly (Zeigt die Abholseite mit
                            integrierte Bezahlung an).
                        </documentation>
                    </annotation>

                    <simpleType>
                        <restriction base="string">
                            <maxLength value="30" />
                            <enumeration value="ShoppingCart" />
                            <enumeration value="ProductOrder" />
                            <enumeration value="VoucherOrder" />
                            <enumeration value="EbayIntro" />
                            <enumeration value="CsvImport" />
                            <enumeration value="PrintPrecheck" />
                            <enumeration value="CollectionOnly" />
                            <enumeration value="CollectionOrder" />
                            <enumeration value="DownloadPostagePDF" />
                        </restriction>
                    </simpleType>
                </attribute>

                <attribute name="shipmentId" use="optional">
                    <annotation>
                        <documentation>
                            Eine ID, die vom Marktplatz vorgegeben wird. Die
                            Anwendung sendet
                            diese ID im RSET zurück.
                            TODO klären ob RSET noch
                            da ist bzw. ob das hier noch notwendig
                        </documentation>
                    </annotation>
                    <simpleType>
                        <restriction base="string">
                            <maxLength value="20" />
                        </restriction>
                    </simpleType>
                </attribute>

                <attribute name="popInternalPageMessage">
                    <annotation>
                        <documentation>
                            I18N-Schlüssel der Auf der Landing-Page angezeigt
                            werden soll.
                            Der I18N-Schluessel wird über eine Indirektion
                            ermittelt.
                            Wenn Wert InvalidVoucher ist wird innerhalb der I18N
                            nach einem
                            entsprechenden Schlüssel gesucht.
                            Der Wert wird dann
                            wiederum als Schlüssel für den anzuzeigenden Text
                            verwendet
                        </documentation>
                    </annotation>
                </attribute>


                <attribute name="popPaymentAcceptRedirectUrl">
                    <annotation>
                        <documentation>
                            URL, nach der bei erfolgreichem Bezahlen gesprungen
                            werden soll.
                        </documentation>
                    </annotation>
                </attribute>


                <attribute name="popPaymentRejectRedirectUrl">
                    <annotation>
                        <documentation>
                            ULR, nach der bei nicht erfolgreichem Bezahlen
                            gesprungen werden
                            soll.
                        </documentation>
                    </annotation>
                </attribute>

                <attribute name="sendRedirect" type="boolean" use="optional"
                           default="false">
                    <annotation>
                        <documentation>
                            Falls hier
                            <code>true</code>
                            angegeben wird, wird statt des ShoppingCartOpenResponse
                            Direkt der
                            Redirect Header an der Aufrufen geschickt.
                        </documentation>
                    </annotation>
                </attribute>

            </extension>
        </complexContent>
    </complexType>



    <complexType name="ShoppingCartOpenResponseType">
        <annotation>
            <documentation>
                Eine Redirect URL wird zu dem zu kaufenden Warenkorb zurückgegeben
                <link>ShoppingCartOpenRequestType</link>
                .
            </documentation>
        </annotation>

        <complexContent>
            <extension base="ws:WsResponseType">
                <attribute name="redirectUrl" type="string">
                    <annotation>
                        <documentation>
                            Es wird eine Redirect URL auf der Onlinefrankierung
                            geliefert, wo
                            der User eventuell Fehlermeldungen sieht.
                            Analog zu
                            Maptos.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="shoppingCartId" type="string">
                    <annotation>
                        <documentation>
                            Scid des neu angelegten Warekörbes
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="PositionsType">
        <sequence>
            <element name="Position" type="int" maxOccurs="unbounded"
                     minOccurs="1">
                <annotation>
                    <documentation>
                        Gibt die Nummer der Warenkorbpozition an. Fängt mit
                        1 an.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ItemCancelErrorType">
        <sequence>
            <element name="Message" type="string" maxOccurs="1"
                     minOccurs="1">
                <annotation>
                    <documentation>
                        Eine Meldung zu einer Position.
                    </documentation>
                </annotation>

            </element>
        </sequence>
        <attribute name="position" type="int">
            <annotation>
                <documentation>
                    Gibt die Nummer der Warenkorbpozition an. Fängt mit 1
                    an.
                </documentation>
            </annotation>
        </attribute>
    </complexType>
</schema>
